:root {
    --white: #fff;
    --bgColor: #f8f8f8;
    --h1color: #A4D5C3;
    --propertiesBgColor: #B0CBF1;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bgColor);
}

.container {
    padding: 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    height: 100vh;
}

h2 {
    grid-column-start: 1;
    grid-column-end: 1;
    color: var(--h1color);
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
}